$blue: #007cb0;
$light-blue: #d2dfe5;

li {
  display: block;
  border: solid 1px #ddd;
  padding: 14px;
  margin-bottom: 10px;
  position: relative;
  .perc-back {
    background: $light-blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: -1;
  }
}

button {
  float: right;
  background: $blue;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0 30px;
  font-size: 20px;
  line-height: 40px;
  
}
input {display: none;}
label {
  vertical-align: middle;
  cursor: pointer;
  line-height: 10px;
  overflow: hidden;
  &:before {
    content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: -1px;
  }
}

input[type=radio]:checked + label:before {
  content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-on.png');
  margin-top: 0;
  margin-left: 0;
  margin-bottom: -3px;
  margin-right: 8px;
}

li.correct label:before {
  content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-correct.png');
    margin-top: 0;
  margin-left: 0;
  margin-bottom: -5px;
  margin-right: 6px;
}
li.correct input[type=radio]:checked + label:before {
  content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-correct.png');
    margin-top: 0;
  margin-left: 0;
  margin-bottom: -5px;
  margin-right: 6px;
}

.perc-number {
  float: right;
}